  
name: UXCLOUD-PRD - PARA S3

on:
 workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.21.0
      - name: INSTALL E BUILD
        run: npm install &&b npm run build
        env:
           CI: "false"
      - name:   LISTAR ARQUIVOS
        run: ls la build/*
        
      
